.live {
  position: relative;
  height: 100%;
  background-color: #f0f0f0;

  &-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // z-index: -1;
    object-fit: cover;
  }

  // 头部信息
  &-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;

    // 主播
    &-host {
      display: flex;
      align-items: center;
      width: fit-content;
      height: 40px;
      border-radius: 20px;
      padding: 0 4px;
      background: #0000004d;
      img {
        width: 33px;
        height: 33px;
        border-radius: 50%;
        margin-right: 7.6px;
      }
      &-name {
        color: #ffffffff;
        font-family: 'PingFang SC';
        font-weight: 500;
        font-size: 12px;
      }
      &-hot {
        display: flex;
        align-items: center;
        span {
          opacity: 0.8;
          mix-blend-mode: normal;
          color: #ffffffff;
          font-family: 'PingFang SC';
          font-weight: 600;
          font-size: 9px;
          margin-left: 3px;
        }
      }

      &-follow {
        width: 33px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        border-radius: 100px;
        font-size: 12px;
        color: #fff;
        margin-left: 16px;
        background: linear-gradient(270deg, #ff5c87ff 0%, #ff6a32ff 100%);
      }
    }

    // 观众
    &-audience,
    &-avatars {
      display: flex;
      align-items: center;
    }

    &-audience-avatars {
      display: flex;
      margin-left: 12px;
      img {
        width: 33px;
        height: 33px;
        border-radius: 50%;
        margin-right: 4px;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    &-audience-number {
      padding: 6px 8px;
      border-radius: 10px;
      background: #0000004d;
      font-size: 14px;
      color: #fff;
      margin: 0 4px;
    }
  }

  // 底部
  &-bottom {
    position: absolute;
    bottom: calc(constant(safe-area-inset-bottom) + 16px);
    bottom: calc(env(safe-area-inset-bottom) + 16px);
    z-index: 19;
    width: calc(100% - 32px);
    margin: 16px;
    margin-top: 0;
  }

  &-bottom-barrage {
    display: flex;
    flex-direction: column-reverse;
    height: 260px;
    width: 240px;
    overflow: hidden;
    overflow-y: auto;
    margin-bottom: 12px;
    /* 上下透明渐变效果 */
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 15%,
      rgba(0, 0, 0, 1) 85%,
      rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 15%,
      rgba(0, 0, 0, 1) 85%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  &-bottom-messages-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
    padding: 10px 0;
  }

  &-bottom-barrage-message {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 8px 12px;
    border-radius: 18px;
    font-size: 14px;
    word-break: break-word;
    backdrop-filter: blur(5px);
    /* 初始状态 (动画开始前) */
    opacity: 0;
    transform: translateY(20px);
  }

  &-bottom-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-bottom-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    border-radius: 18.5px;
    background-color: #0000004d;
    input {
      width: 127px;
      border: none;
      outline: none;
      background-color: transparent;
      text-indent: 12px;
      color: rgba(255, 255, 255, 0.6);
    }
    &-smiley {
      margin-right: 12px;
    }
  }

  &-bottom-gift {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 49%;
    margin-left: 24px;
  }
  &-bottom-gift-icon {
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
  }
}
