.LivePage {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  color: white;
  font-size: 14px;
  position: relative;
  .live-wrapper {
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    video {
      width: 100%;
      object-fit: cover;
    }
    img {
      width: 100%;
      height: calc(var(--vh, 1vh) * 100);
      color: #e5e5e5;
    }
  }
  .float {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    .top {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      .left {
        margin-left: 10px;
        .liver {
          box-sizing: border-box;
          background: #0000004d;
          display: flex;
          padding: 3.5px 4px;
          align-items: center;
          border-radius: 20px;
          .avatar {
            border-radius: 50%;
            width: 33px;
            height: 33px;
            margin-right: 7.6px;
          }
          .desc {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .desc-wrapper {
              width: 80px;
              .name {
                font-size: 12px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .count {
                display: flex;
                align-items: center;
                color: gainsboro;
                font-size: 10px;
                svg {
                  margin-right: 4px;
                }
              }
            }
            .follow-btn {
              height: 24px;
              width: 33px;
              line-height: 22px;
              background: linear-gradient(270deg, #ff5c87ff 0%, #ff6a32ff 100%);
              border-radius: 20px;
              text-align: center;
              font-size: 16px;
            }
          }
        }
        .left-bottom {
          margin-top: 8px;
          display: flex;
          font-size: 12px;
          .tag {
            display: flex;
            align-items: center;
            padding: 4px 10px;
            background: rgba(58, 58, 70, 0.3);
            border-radius: 20px;
            margin-right: 10px;
            img {
              margin-right: 5px;
              width: 10px;
              height: 10px;
            }
          }
        }
      }
      .right {
        margin-top: 3px;
        display: flex;
        flex-direction: column;
        .follower {
          display: flex;
          align-items: center;
          margin-right: 12px;
          .round {
            width: 33px;
            height: 33px;
            border-radius: 50%;
            margin-right: 4px;
          }
          .count-number {
            padding: 6px 8px;
            font-size: 12px;
            background: #0000004d;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            margin-right: 4px;
          }
          .close {
            margin-right: 10px;
            margin-left: 6px;
            padding: 6px;
            width: calc(33px - 12px);
            height: calc(33px - 12px);
          }
        }
        .more {
          display: flex;
          justify-content: flex-end;
          .wrapper {
            border-radius: 13px 0 0 13px;
            padding: 2px 0 2px 10px;
            margin-top: 15px;
            background: rgba(58, 58, 70, 0.3);
            display: flex;
            align-items: center;
            font-size: 10px;
          }
        }
      }
    }
    .bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      box-sizing: border-box;
      padding: 16px;
      padding-bottom: calc(constant(safe-area-inset-bottom) + 16px);
      padding-bottom: calc(env(safe-area-inset-bottom) + 16px);
      display: flex;
      .left {
        width: 100%;
        .comments {
          margin-bottom: 10px;
          overflow: auto;
          width: 78%;
          height: 200px;
          mask-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 15%,
            rgba(0, 0, 0, 1) 85%,
            rgba(0, 0, 0, 0) 100%
          );
          -webkit-mask-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 15%,
            rgba(0, 0, 0, 1) 85%,
            rgba(0, 0, 0, 0) 100%
          );
          .comments-wrapper {
            min-height: 20vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
          }
          .comment {
            width: 222px;
            padding: 8px;
            border-radius: 12px;
            background: #0000004d;
            margin-bottom: 5px;
            &:last-child {
              margin-bottom: 12px;
            }
            &.notice {
              .text {
                color: #a4eafd;
              }
            }
            .level {
              display: inline-block;
              .wrapper {
                display: flex;
                align-items: center;
                font-size: 10px;
                border-radius: 10px;
                margin-right: 5px;
                padding: 0 6px;
                // background: #8285b9;
                svg {
                  margin-right: 3px;
                }
              }
            }
            .name {
              margin-right: 5px;
              font-size: 13px;
              color: #a4eafd;
            }
            .text {
              word-break: break-all;
            }
            .notice-tip {
              color: #ff5c87ff !important;
            }
          }
        }
        .options {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          .input {
            color: #a2a2a2;
            font-size: 12px;
            border-radius: 18.5px;
            padding: 8px 12px;
            background: #0000004d;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: rgba(255, 255, 255, 0.6);
            width: 168px;
            input {
              background-color: transparent;
              outline: none;
              border: none;
            }
            img {
              width: 20px;
            }
          }
          .more {
            margin-left: 10px;
            width: 20px;
            height: 20px;
            padding: 5px;
            background: rgba(58, 58, 70, 0.3);
            border-radius: 50%;
          }
          .gift {
            margin-left: 10px;
            width: 31px;
          }
          .options-action {
            display: flex;
            align-items: center;
          }
        }
      }
      .right {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        .avatar-wrapper {
          background: linear-gradient(to bottom, #000000, #fc2f56);
          border-radius: 20px;
          width: calc(35px + 2px);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          &.followed {
            background: linear-gradient(to bottom, rgba(240, 183, 31, 0.2), #f0b71f);
          }
          .avatar {
            width: 35px;
            border-radius: 50%;
            background: white;
            padding: 1.5px;
          }
          .follow {
            width: 32px;
            margin-top: 5px;
            margin-bottom: 5px;
          }
          .options {
            margin-top: 8px;
            margin-bottom: 5px;
            display: flex;
            width: 20px;
            height: 20px;
            justify-content: center;
            align-items: center;
            img {
              position: absolute;
              width: 18px;
              transition: all 0.8s;
            }
            .yes {
              opacity: 0;
              transform: rotate(-180deg);
            }
            &.attention {
              .no {
                opacity: 0;
                transform: rotate(180deg);
              }
              .yes {
                opacity: 1;
                transform: rotate(0deg);
              }
            }
          }
        }
      }
    }
  }
}
